.absolute-height {
  min-height: 100%;
}

.designPage {
  background: url('/img/design_bg.jpg') 50% no-repeat;
  background-size: cover;
  background-color: #FFF;
  background-blend-mode: luminosity, normal;
  align-items: stretch;
}

.aside {
  background: url('/img/go_to_main.jpg') 50% no-repeat;
  background-size: cover;
  background-color: #FFF;
  background-blend-mode: luminosity, normal;
  max-width: 380px;

  .aside-rotate-block {
    flex-direction: column-reverse;
    transform: rotate(90deg);
    text-align: center;
  }

  &:after {
    background: rgba(0, 0, 0, 0.7);
  }

  .middle-title {
    color: white;
    font-weight: 400;

    &:before, &:after {
      background: white;
    }
  }

  .prev {
    width: 5rem;
    height: 5rem;
    border: 1px solid white;
    transform: rotate(-90deg);
    margin: 25% auto 0;

    svg {
      fill: white;
    }
  }
}

@media all and (max-width: 559px) {
  .aside {
    .prev {
      display: none;
    }
  }
}

@media all and (max-height: 499px) {
  body {
    min-height: 500px;
    position: relative;
  }
}