.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 10px;
}

.half-block {
  padding: 4rem;
  max-width: 540px;
}

@media all and (max-width: 767px){
  .static-height {
    height: 330px;
  }
}
.md23 {
  width: 23%;
}
.xs25 {
  width: 25%;
}
.xs33 {
  width: 33.333%;
}
.xs40 {
  width: 40%;
}
.xs48 {
  width: 48%;
}
.xs50 {
  width: 50%;
}
.xs60 {
  width: 60%;
}
.xs70 {
  width: 70%;
}
.xs75 {
  width: 75%;
}
.xs100 {
  width: 100%;
}

@media all and (min-width: 768px) {
  .sm20 {
    width: 20%;
  }
  .sm25 {
    width: 25%;
  }
  .sm30 {
    width: 30%;
  }
  .sm33 {
    width: 33.33333%;
  }
  .sm48 {
    width: 48%;
  }
  .sm50 {
    width: 50%;
  }
  .sm100 {
    width: 100%;
  }
}

@media all and (min-width: 992px) {
  .md20 {
    width: 20%;
  }
  .md30 {
    width: 30%;
  }
  .md38 {
    width: 38%;
  }
  .md40 {
    width: 40%;
  }
  .md50 {
    width: 50%;
  }
  .md48 {
    width: 48%;
  }
  .md58 {
    width: 58%;
  }
  .md60 {
     width: 60%;
  }
  .md75 {
    width: 75%;
  }
}