button, input[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  transition: .2s all;
  padding: 13px;
  font-size: 12px;
  text-align: center;
}

.btn-active {
  background: white;
  color: $main-color;

  &:hover, &:focus, &.active {
    background-color: $main-color;
    color: white;
  }
}

.overlay, .slick-slider {
  .btn-active {
    background-color: rgba(8, 8, 8, 0.8);

    &:hover, &:focus {
      background-color: rgba(8, 8, 8, 1);
      color: $main-color;
    }
  }

  .disable {
    color: rgba(255, 255, 255, 0.3);

    &:hover, &:focus {
      color: white;
    }
  }
}

.disable {
  color: rgba(0, 0, 0, 0.7);

  &:hover, &:focus {
    color: #000;
  }
}

.btn-main {
  color: white;
  background-color: $main-color;
  transition: .2s all;

  &:hover, &:focus {
    background-color: #b90528;
  }
}

.btn-grey {
  color: #a9a9a9;
  background-color: white;
  transition: .2s all;

  &:hover, &:focus, &.active {
    background-color: #a9a9a9;
    color: white;
  }
}