.pagination {
  margin-left: auto;
  justify-content: flex-start;
  a {
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    width: 50px;
    text-align: center;
  }

  .pager {
    a {
      color: black;
    }
  }
}

@media all and (min-width: 768px) {
  .pagination {
    width: calc(50% + 36px);
    .nav {
      margin-right: 25px;
    }
  }
}

@media all and (max-width: 767px) {
  .pagination {
    a, span {
      width: 35px;
    }
  }
}