.title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.small-title {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin: 0 0 15px 0;
}

.middle-title {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}


@media all and (max-width: 767px) {
  .title {
    font-size: 20px;
  }
}